.input-buscar {
  width: 200px; /* establece el ancho inicial */
  transition: ease 1s; /* especifica la propiedad, el tipo de transición y la duración */
  border: 3px solid rgb(0, 164, 228);
  border-radius: 5px 0px 0px 5px;
  outline: none;
  height: 30px;
  font-family: Nunito Sans, sans-serif;
  padding: 3px 10px;
}

.input-buscar:focus {
  width: 300px;
}

.img-piscina {
  width: 300px;
  height: 300px;
  /* padding-top: 10px; */
  border-radius: 5px;
}
